<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        {{>navbar}}
        {{{body}}}
    </body>
</html>