<form method="post" action="/cadastro">

    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" autofocus><br>

    <label for="sobrenome">Sobrenome</label>
    <input type="text" name="sobrenome" id="sobrenome"><br>

    <label for="senha">Senha</label>
    <input type="password" name="senha" id="senha"><br>

    <label for="re-senha">Repita a senha</label>
    <input type="password" name="re-senha" id="resenha"><br>

    <label for="cpf">Cpf</label>
    <input type="number" name="cpf" id="cpf"><br>

    <label for="cep">Cep</label>
    <input type="number" name="cep" id="cep"><br>

    <label for="estado">Estado</label>
    <input type="text" name="estado" id="estado"><br>

    <label for="cidade">Cidade</label>
    <input type="text" name="cidade" id="cidade"><br>

    <label for="numero">Número</label>
    <input type="number" name="numero" id="numero"><br>

    <label for="detalhe">Detalhe</label>
    <input type="text" name="detalhe" id="detalhe"><br>

    <button type="submit">Cadastrar</button>

</form>